<article>
    <header>
      <img src="/assets/profile.png" />
      <div>
        <p>por [estudante]</p>
        <span>em [data]</span>
      </div>
    </header>
    <main>
      <div>
        <h2>[titulo]</h2>
        <p>[descricao]</p>
      </div>
      <img src="https://media.bitdegree.org/storage/media/images/2018/12/node-js-interview-questions-logo-2-266x300.png"
        alt="imagem do post" />
      <footer>
        <p>Categoria</p>
      </footer>
    </main>
    <footer>
      <h3>
        Comentários
      </h3>
      <div>
        <input placeholder="Comente este post" />
        <button>Enviar</button>
      </div>
    </footer>
  </article>
  
